Source: ipset-persistent
Section: admin
Priority: optional
Maintainer: Adrian Ban <adrian@abtelecom.ro>
Build-Depends: debhelper (>= 7.0.50~), dh-systemd, po-debconf
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/AdrianBan/ipset-persistent/
Vcs-Git: git://github.com/AdrianBan/ipset-persistent

Package: ipset-persistent
Architecture: all
Depends: lsb-base, ${misc:Depends}, netfilter-persistent
Suggests: iptables-persistent
Description: boot-time loader for ipset configuration
 This package provides a set of plugins for nettfilter for load, flush 
 and save a running ipset configuration. 

Package: ipset-persistent
Architecture: all
Depends: netfilter-persistent (= ${source:Version}), ipset, ${misc:Depends}
Description: boot-time loader for ipset plugin
 ipset-persistent is a loader for ipset plugin for netfilter-persistent
 .
 This package contains the ipset plugin.
